email=your.email@itsf.io
always-auth=true
registry=https://jfrog-artifactory.steelhome.internal/artifactory/api/npm/itsffr-npm/

//jfrog-artifactory.steelhome.internal/artifactory/api/npm/itsffr-npm/:_auth="YOUR_BASE64_ENCODED_CREDENTIALS"

cafile=/home/YOUR_USERNAME/.certs/root-ca.crt

//jfrog-artifactory.steelhome.internal/artifactory/api/npm/itsffr-npm/:_authToken=YOUR_JWT_TOKEN

